<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molly App - Data Normalization for Open Data Providers</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/molly.css">
    <link rel="stylesheet" media="screen" href="/static/js/vendor/handsontable/handsontable.full.min.css">
    <script src="/static/js/vendor/modernizr.js"></script>
</head>
<body>
    <div  class="row">
        <div class="large-12 columns">
            <h1>Molly <small>Data Normalization</small></h1>
        </div>
    </div>
    <div id="abovePanel" class="row">
	<hr/>
        <ul id="ribbon" class="tabs" data-tab>
            <li class="tab-title"><a href="#panelData">Data</a></li>
            <li class="tab-title active"><a href="#panelOperations">Operations</a></li>
        </ul>
        <div class="tabs-content">
            <div class="content" id="panelData">
                <p>Import / Export of data will be placed here</p>
            </div>
            <div class="content active" id="panelOperations">
			<ul class="small-block-grid-8">
			  <li><div class="btn-ribbon text-center"><img src="/static/img/icon_undo.png" onclick="undoOperation()" class="small"/><div class="btn-ribbon-text">Undo</div></div></li>
			  <li><div class="btn-ribbon text-center" onclick="normalizeData()"><img src="/static/img/icon_normalize.png"  class="small"/><div class="btn-ribbon-text">Normalize Data</div></div></li>
			</ul>
                  
            </div>
        </div>
    </div>
    <div class="row">
        <div id="hot"></div>
    </div>
    <footer class="row">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-6 columns">
                    <p>© Spiros Mouzakitis - LinDA Project</p>
                </div>
                <div class="large-6 columns">
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/vendor/handsontable/handsontable.full.min.js"></script>
    <script src="/static/js/molly.js"></script>
    <script>
        $(document).foundation();
        initMolly();
    </script>
</body>
</html>