<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molly App - Data Normalization for Open Data Providers</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/molly.css">

    <script src="/static/js/vendor/modernizr.js"></script>
</head>
<body>
      <div class="row">
        <div class="large-12 columns">
          <h1>Molly <small>Data Normalization</small></h1>
		  <hr/>
        </div>
      </div>

       
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Spiros Mouzakitis - LinDA Project</p>
            </div>
            <div class="large-6 columns">
            </div>
          </div>
        </div>
      </footer>

  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>